body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Verdana, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0 auto;
  max-width: 780px;
  padding: 0 1.5em;
}
@media (max-width: 768px) {
  body {
    padding: 0em 1em;
    font-size: 14px;
  }
}
.container {
  margin: 1.4em auto;
  color: #404040;
}
.clear {
  clear: both;
}
a {
  padding: 1px;
  text-decoration: none;
  color: #139;
}
a:hover {
  color: #900;
}
/* simple-CSS-switch style */
#s-css-s--menu {
  position: absolute;
  top: 1em;
  right: 1em;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
#s-css-s--menu:hover {
  opacity: 1;
}
.s-css-s-button:focus {
  outline: 0 none;
}
.s-css-s--button {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0.2em;
  padding: 0;
  float: left;
  border: 3px;
}
.s-css-s--default-css {
  color: #d0d0d0;
}
.s-css-s--active-style {
  border-style: inset;
}
.s-css-s--active-style.s-css-s--default-css {
  background-color: #fff;
}
.s-css-s--dark-css {
  color: #efefef;
  background-color: #1f2023;
}
/* simple-CSS-switch style end */
code {
  font-family: Inconsolata, SFMono-Regular, Menlo, Consolas, "Ubunto Mono", Monaco, "Liberation Mono", 'DejaVu Sans Mono';
  font-size: 1.1em;
  line-height: 12px;
  margin: 0 2px;
  padding: 0 5px;
  background-color: #f0f0f0;
}
kbd {
  font-size: 13px;
  line-height: 12px;
  display: inline-block;
  padding: 3px 5px;
  vertical-align: middle;
  color: #555;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  background-color: #fcfcfc;
  box-shadow: inset 0 -1px 0 #bbb;
}
.fixme {
  font-weight: bold;
  background: #ff0;
}
table {
  font-size: 100%;
  margin: 0.5em 0;
  border-collapse: collapse;
}
table th,
table td {
  margin: 2px;
  padding: 0.3em;
  border: 1px solid #777;
}
table th {
  background: #eee;
}
/* header */
@media (min-width: 768px) {
  .header .info-quote {
    display: flex;
    align-items: center;
  }
  .header .info-quote h1.title {
    flex-grow: 1;
  }
}
.header {
  margin: 0;
  padding: 0;
}
.header h1.title {
  white-space: nowrap;
  text-transform: none !important;
  margin: 0;
}
.header h1.title a {
  font-size: 1.3em;
  color: #505050;
  background-color: inherit;
}
.header p.tagline {
  font-size: 1.4em;
  font-style: italic;
  margin: 0;
  padding-top: 10px;
}
.navbar {
  padding: 0.5em 0;
}
.navbar .navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: auto;
}
.navbar .navbar-nav li {
  line-height: 1.4em;
  display: inline;
  padding: 0;
}
.navbar .navbar-nav li a {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 5px;
  padding-right: 20px;
  text-decoration: none;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active {
  color: #505050;
}
.navbar .navbar-nav li:first-child a {
  padding-left: 0;
}
@media (min-width: 680px) {
  .navbar {
    display: flex;
  }
}
/* end of header */
/* search box */
@media (min-width: 680px) {
  div#search-box-nav {
    display: block;
  }
  div#search-box-nav input.search-box {
    width: 66%;
  }
}
div#search-box-nav {
  margin: 0;
}
div#search-box-nav form.search-box-bar {
  display: flex;
  padding: 6px 2px;
}
div#search-box-nav input.search-box {
  flex-grow: 1;
  font-size: 14px;
  margin-top: 2px;
  margin-right: 5px;
  padding: 4px 6px;
  padding-right: 12px;
  border: 1px solid #bbb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 2px;
  outline: none;
  background-color: #fff;
  -webkit-appearance: none;
}
div#search-box-nav input.search-box:focus {
  border-color: #139;
}
div#search-box-nav input.search-button {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  float: right;
  min-width: 54px;
  height: 27px;
  margin-top: 2px;
  padding: 2px 0 2px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #139;
  background-color: #139;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
}
/* end of search box */
.post {
  margin-bottom: 45px;
}
.post .post-date {
  display: block;
  margin-bottom: 30px;
  color: #a6a5aa;
}
.post .series {
  font-size: 95%;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.2em 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #e0e0e0;
}
.post .series h4 {
  border: none;
  margin: 0;
  padding: 1em 0.5em;
}
.post .series .series-title {
  font-weight: bold;
  font-size: 1.2em;
  padding-right: 0.5em;
}
.post .series ul {
  margin: 0;
  padding: 0 2.5em 1em;
}
.post div.text div.body {
  padding-left: 5px;
}
.post .post-content a:hover {
  text-decoration: underline;
}
div.related {
  padding: 0 2.2em;
  margin-bottom: 70px;
}
div.related ul.related-posts h4 {
  border: none;
  margin: 0.5em 0;
}
#table-of-contents {
  margin: 1em 0;
  padding: 0.1em;
}
/* main */
div.main {
  clear: both;
  margin: 0;
  padding: 20px 0;
}
.main h1,
.main h2,
.main h3,
.main h4 {
  color: #139;
}
.main h1 {
  font-size: 180%;
  line-height: 1.3em;
  text-transform: capitalize;
}
.main h2 {
  font-size: 160%;
  line-height: 1.2em;
  margin-top: 35px;
  padding: 0 0 0.3em;
  text-transform: capitalize;
}
.main h3 {
  font-size: 120%;
}
.main h4 {
  font-size: 110%;
}
p.read-more-container {
  padding: 5px 0;
}
p.read-more-container a.read-more {
  font-style: italic;
  font-weight: bold;
  float: right;
}
blockquote {
  margin: 10px 0 10px 19px;
  padding-left: 15px;
  border-left: solid 4px gainsboro;
}
p.search-info {
  font-size: 1.1em;
}
.verbatim {
  margin: 0.5em 0;
}
.verbatim pre {
  margin: 0;
}
.verbatim-caption {
  font-size: 80%;
  display: block;
  padding: 0.2em;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: #fff;
}
div.tags-line {
  font-size: 1.2em;
  margin: 10px 0 20px;
}
div.tags-line span.tags-head {
  font-weight: bold;
}
.tag a {
  color: #404040;
}
.archive-date {
  font-family: Menlo, Monaco, Courier, 'DejaVu Sans Mono', monospace;
}
/* end of main */
/* navigation */
div.pagination {
  font-size: 1.2em;
  margin: 60px 0;
  padding: 0 30px;
  display: block;
  position: relative;
}
div.pagination a.newer {
  float: right;
  text-decoration: none;
}
div.pagination a.newer:after {
  content: " →";
  right: 0;
  position: absolute;
}
div.pagination a.older:before {
  content: "← ";
  left: 0;
  position: absolute;
}
div.page-navigation {
  font-size: 1.1em;
  margin: 10px 0 40px;
  padding: 10px 20px;
  display: block;
  position: relative;
}
div.page-navigation a.next {
  float: right;
  text-decoration: none;
}
div.page-navigation a.next:after {
  content: " →";
  right: 0;
  position: absolute;
}
div.page-navigation a.prev:before {
  content: "← ";
  left: 0;
  position: absolute;
}
/* end of navigation */
/* disqus comments */
#disqus_thread {
  padding: 0 2.2em;
}
a.dsq-brlink {
  display: block;
  padding: 0 2.2em;
  color: #A6A5AA;
  text-align: center;
}
/* disqus comments */
/* utterances comments */
.utterances {
  max-width: 780px !important;
}
/* footer */
.footer {
  margin: 60px 2em 0;
  padding: 8px 0;
}
.footer p {
  font-size: 1em;
  text-align: center;
}
/* end of footer */
/* org highlight */
.subtitle {
  font-size: medium;
  font-weight: bold;
  margin-top: 0;
  /* text-align: center; */
}
.todo {
  font-family: monospace;
  color: red;
}
.done {
  color: green;
}
.priority {
  font-family: monospace;
  color: orange;
}
.tag {
  font-family: monospace;
  font-size: 1.1em;
  font-weight: normal;
  padding: 2px;
  margin-right: 8px;
  background-color: #eee;
}
.timestamp {
  color: #bebebe;
}
.timestamp-kwd {
  color: #5f9ea0;
}
.org-right {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}
.org-left {
  margin-right: auto;
  margin-left: 0;
  text-align: left;
}
.org-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.org-ul,
.org-ol {
  padding-left: 2em;
}
li {
  margin: 0.6em 0;
}
.underline {
  text-decoration: underline;
}
#postamble p,
#preamble p {
  font-size: 90%;
  margin: 0.2em;
}
p.verse {
  margin-left: 3%;
}
pre {
  font-family: Inconsolata, SFMono-Regular, Menlo, Consolas, "Ubunto Mono", Monaco, "Liberation Mono", 'DejaVu Sans Mono';
  font-size: 1.1em;
  border-radius: 3px;
  overflow: auto;
  line-height: 1.1em;
  color: #333;
  background-color: #f4f6f7;
}
pre.example {
  padding: 8px;
}
pre::selection {
  background-color: #b2d7ff !important;
}
pre::-moz-selection {
  background: #b2d7ff;
  /* Gecko Browsers */
}
pre.src span::selection {
  background-color: #b2d7ff !important;
}
pre.src span::-moz-selection {
  background: #b2d7ff;
}
pre.src {
  font-family: Inconsolata, SFMono-Regular, Menlo, Consolas, "Ubunto Mono", Monaco, "Liberation Mono", 'DejaVu Sans Mono';
  font-size: 1.1em !important;
  line-height: 1.1em;
  position: relative;
  display: block;
  padding: 1em;
  padding-top: 1.4em;
}
pre.src:before {
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1em;
  position: absolute;
  top: 4px;
  right: 4px;
  display: none;
  padding: 3px;
  color: white;
  background-color: #139;
}
pre.src:hover:before {
  display: inline;
}
pre.src-sh:before {
  content: 'sh';
}
pre.src-bash:before {
  content: 'sh';
}
pre.src-emacs-lisp:before {
  content: 'Emacs Lisp';
}
pre.src-R:before {
  content: 'R';
}
pre.src-perl:before {
  content: 'Perl';
}
pre.src-java:before {
  content: 'Java';
}
pre.src-sql:before {
  content: 'SQL';
}
pre.src-python:before {
  content: 'Python';
}
pre.src-ipython:before {
  content: 'IPython';
}
pre.src-ruby:before {
  content: 'Ruby';
}
pre.src-lisp:before {
  content: 'Common Lisp';
}
pre.src-js:before {
  content: 'JavaScript';
}
pre.src-html:before {
  content: 'HTML';
}
pre.src-jinja2:before {
  content: 'Jinja2';
}
table {
  border-collapse: collapse;
}
td,
th {
  vertical-align: top;
}
th.org-right {
  text-align: center;
}
th.org-left {
  text-align: center;
}
th.org-center {
  text-align: center;
}
td.org-right {
  text-align: right;
}
td.org-left {
  text-align: left;
}
td.org-center {
  text-align: center;
}
dt {
  font-weight: bold;
}
sup a {
  padding: 0 5px;
}
div#text-footnotes {
  padding-left: 2px;
}
div#text-footnotes .footdef {
  margin-bottom: 1em;
}
div#text-footnotes .footdef sup {
  float: left;
}
div#text-footnotes .footdef sup a {
  padding: 0 10px 0 0;
  float: right;
  text-align: right;
  width: 20px;
}
div#text-footnotes .footdef div.footpara {
  display: block;
  padding-left: 30px;
}
.figure {
  padding: 1em 0.5em;
}
.figure p {
  text-align: center;
}
.inlinetask {
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
  background: #ffc;
}
.linenr {
  font-size: smaller;
}
.code-highlighted {
  background-color: #ff0;
}
/* end of org highlight */
