<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body onload="simpleCssSwitch()">
    <div class="container content">

      <div id="s-css-s--menu"></div>

      <div class="header">
        <div class="info-quote">
          <h1 class="title">
            <a href="{{ site.url }}" title="Home">{{ site.title }}</a>
          </h1>
          <p class="tagline">{{ site.tagline }}</p>
        </div>

        <div class="navbar clear">
          <ul class="navbar-nav">
            {% for node in site.pages_list %}
              <li>
                {% if page.url == node[1][0] %}
                  <a href="{{ node[1][0] }}" class="active">
                    <span class="link-name">{{node[0]}}</span>
                  </a>
                {% else %}
                  <a href="{{ node[1][0] }}">
                    <span class="link-name">{{node[0]}}</span>
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>

          {% include search_box.html %}
        </div>
      </div>

      <div class="main">
        {{ content }}
        {% include copyright.html %}
      </div>
    </div>
  </body>
</html>
